section,
footer,
header,
main,
nav{
  display: block;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  border: none;
}

body {
  margin: 0;
  background-image: radial-gradient(
    circle farthest-corner at -80% -12.9%,
    rgba(74, 98, 110, 1) 0.3%,
    rgba(30, 33, 48, 1) 90.2%
  );
}

.favorite-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sortBox {
  margin: 1rem;
}

ul,
a {
  font-family: sans-serif;
  font-weight: 800;
  color: #252b3a;
  line-height: 10px;
  letter-spacing: 2px;
  list-style: none;
  display: flex;
  text-decoration: none;
  background-color: rgb(250,235,215, 0.5);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 8px;
}

.webAddress {
  flex-wrap: wrap;
}

.webAddress a {
  color: blue;
  font-size: small;
  font-weight: 300;
  letter-spacing: normal;
}

li a:hover {
  background-color: #555;
  color: white;
}

.btn {
  cursor: pointer;
  outline: none;
  font-family: inter;
  background-color: blanchedalmond;
  margin: 0.85rem;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

h3 {
  font-family: "inter", sans-serif;
  color: #252b3a;
  margin: 0;
  padding: 0;
}

.filterZone {
  display: inline-flex;
  align-items: center;
}

.filterType {
  display: flex;
  max-height: 2rem;
  align-items: center;
}