section,
footer,
header,
main,
nav {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: none;
}

body {
  margin: 0;
  background-image: radial-gradient(
    circle farthest-corner at -80% -12.9%,
    rgba(74, 98, 110, 1) 0.3%,
    rgba(30, 33, 48, 1) 90.2%
  );
}

.favorite-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sortBox {
  margin: 1rem;
}

ul,
a {
  font-family: sans-serif;
  font-weight: 800;
  color: #252b3a;
  line-height: 10px;
  letter-spacing: 2px;
  list-style: none;
  display: flex;
  text-decoration: none;
  background-color: rgb(250, 235, 215, 0.5);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 8px;
}

.webAddress {
  flex-wrap: wrap;
}

.webAddress a {
  color: blue;
  font-size: small;
  font-weight: 300;
  letter-spacing: normal;
}

li a:hover {
  background-color: #555;
  color: white;
}

.btn {
  cursor: pointer;
  outline: none;
  font-family: inter;
  background-color: blanchedalmond;
  margin: 0.85rem;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

section {
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  font-family: "inter", sans-serif;
  color: #252b3a;
  margin: 0;
  padding: 0;
}

.filterZone {
  display: inline-flex;
  align-items: center;
}

.filterType {
  display: flex;
  max-height: 2rem;
  align-items: center;
}

@media (max-width: 768px) {
  .modal-content {
    margin: 1rem auto;
    width: 80%;
  }

  .logo-box {
    max-width: 70%;
  }

  .typeArea {
    font-size: smaller;
  }
  .favorite-box {
    flex-direction: column;
  }

  .brewBox {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .iconBox {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0;
    margin: 0;
  }

  h1 {
    margin: 10px;
  }

  .logo-box {
    display: flex;
    max-width: 100%;
  }

  .typeArea ul {
    display: flex;
    flex-wrap: wrap;
    font-size: x-small;
    max-width: 90%;
  }

  .favorite-box {
    flex-direction: row;
  }
}
