body {
  position: relative;
  margin: 0;
  background-image: radial-gradient(
    circle farthest-corner at -80% -12.9%,
    rgba(74, 98, 110, 1) 0.3%,
    rgba(30, 33, 48, 1) 90.2%
  );
  display: flex;
}

ul,
a {
  font-family: sans-serif;
  font-weight: 800;
  color: #000;
  line-height: 10px;
  letter-spacing: 2px;
  list-style: none;
  display: flex;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.btn {
  outline: none;
  background-color: blanchedalmond;
  margin: 0.85rem;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 9px 43px -12px rgba(0, 0, 0, 0.88);
}
