.header h1 {
  font-family: 'Inter', sans-serif;
  background-color: rgb(250,235,215, 0.5);
  border-radius: 2px;
  max-width: 10rem;
  box-shadow: 0px 9px 43px -12px rgba(0, 0, 0, 0.88);
  padding: 8px;
  /* font-family: 'Oswald', sans-serif; */
}

.header {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #deb859;
  box-shadow: 0px 9px 43px -12px rgba(0, 0, 0, 0.88);
  overflow: hidden;
}

.brewBox {
  width: 280px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 7px;
  background-color: beige;
  opacity: .5;
}

.brewBox:hover {
  opacity: 1;
}

.fa-beer-mug-empty {
  font-size: 1.5rem;
  color: #252b3a;
}

.iconBox {
  display: flex;
  margin-left: 92%;
}

.beerTab {
  opacity: 0.8;
}


.invisible {
  display: none;
}

.favorite-count-circle.invisible {
  display: none;
}


.favorites-container ul {
  flex-direction: column;
  color: rgb(92, 237, 82);
}

.favorites-container ul li {
  margin: 5px;
}

#favoriteSelect {
  position: relative;
  display: flex;
  align-items: center;
}

/* Style the favorite count circle element */
.favorite-count-circle {
  position: absolute;
  top: -5px;
  right: 0.5rem;
  background-color: rgb(119, 205, 135);
  color: white;
  border-radius: 50%;
  border: 3px solid black;
  padding: 15px;
  font-size: 1rem;
  font-family: inter;
  font-weight: 800;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #a2df9f;
}

/* .favorite-count-circle:hover {
  width: 2.5rem;
  right: .8rem;
  font-size: large;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.breweryType {
  color: #001300;
  text-transform: uppercase;

}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.favorites-list-modal {
  flex-direction: column;
}

.favorites-list-modal li {
  padding: 1rem;
}

.favorites-list-modal span {
  cursor: pointer;
  margin-right: 1rem;
}

.typeArea ul li {
  padding-right: 1rem;
  color: #354351 ;
}