.header {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #deb859;
  box-shadow: 0px 9px 43px -12px rgba(0, 0, 0, 0.88);
  overflow: hidden;
}

.brewBox {
  width: 280px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 7px;
  background-color: beige;
  opacity: .5;
}

.brewBox:hover {
  opacity: 1;
}

.fa-beer-mug-empty {
  font-size: 1.5rem;
  color: #252b3a;
}

.iconBox {
  display: flex;
  margin-left: 92%;
}

.beerTab {
  opacity: 0.8;
}

.invisible {
  display: none;
}

.favorites-container ul {
  flex-direction: column;
  color: rgb(92, 237, 82);
}

.favorites-container ul li {
  margin: 5px;
}





