.header {
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 50%;
  max-width: 100%;
  width: 100%;
  display: flex;
  background-color: #deb859;
  box-shadow: 0px 9px 43px -12px rgba(0, 0, 0, 0.88);
  overflow: hidden;
}